body{
    background-color: rgb(0, 242, 255);
}
.background{
    fill: skyblue;
    fill-opacity: 0.8;
    stroke-width: 2px;
    stroke: black;
}
.letter{
    fill: white;
}
.icon:hover .background{
    fill: violet;
}