.footer{
    background-color: $footer-background;
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-wrap{
    display: flex;
    justify-content: space-between;
}
.foot-icon{
    width: 20px;
    height: 20px;
}
.foot-list{
    display: flex;
    justify-content: space-between;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 16px;
    gap: 8px;
}
.foot-link{
    fill: $icon-color;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
}
.foot-link:hover,
.foot-link:focus{
    fill: $icon-color;
    background-color: $header-web;
}
.foot-text{
    font-size: 14px;
    color: $main-title;
}
.send{
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: $main-title;
}
.form{
    width: 358px;
    height: 50px;
}
.send-box{
    display: flex;
    align-items: center;
}
.btn{
    width: 200px;
    height: 50px;
    background-color: $header-web;
    border: none;
    border-radius: 4px;
    line-height: 1.87;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 12px;
    justify-content: center;
}
.sub{
    font-size: 16px;
    display: flex;
    align-items: center;
    color: $main-title;
}
.address{
    width: 231px;
    height: 21px;
    color: $main-title;
}
.white{
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #fff;
    font-family: "Raleway", sans-serif;
}
.footer-item{
    margin-top: 20px;
}
.footer-list{
    margin-bottom: 9px;
}
.footer-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: #fff;
}
.footer-form-fild{
    display: flex;
}
.form-input{
    height: 50px;
    width: 358px;
    padding-left: 16px;
    color: #fff;
    background-color: $footer-background;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
