.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
}
.butt__item-tt{
    width: 73px;
    height: 38px;
    flex-shrink: 0;
    background-color: $header-web;
    color: $main-title;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.butt__list{
    display: block;
    align-items: center;
    margin-bottom: 15px;
    
}
.butt__item{
    background: $button;
    font-weight: 500px; 
    border-radius:4px;
    font-size: 16px;
    border: none;
    padding: 6px 22px;
    line-height: 162%;
    cursor: pointer;
    font-family:'Roboto', sans-serif;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.butt__item:hover{
    background-color: $header-web;
    color: #fff;
}

.butt{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    gap: 8px;
       
}
.portfolio__item{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    min-width: 290px;
    max-width: 450px;
}
.portfolio__name{
    color: $nav;
    font-size: 18px;
    font-weight: 700;
}
.portfolio__text{
    color: $li-p;
    font-size: 16px;
    font-weight: 400;
}
.portfolio__item:hover{
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);
}
.portfolio__item:hover .product__action{
    opacity: 1;
    transform: translateY(0%);
}
.product__wrap{
    position: relative;
    overflow: hidden;
}
.product__action{
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-color: rgba(33, 150, 243, 0.9);
    color: $main-title;
    opacity: 0;
    transform: translateY(100%);
    transition: transform 250ms linear, opacity 250ms linear;
}
.portfolio__box{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    line-height: 187%;
    align-items: flex-start;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}
@media screen and (min-width:480px) {
    .portfolio__item{
        min-width: 450px;
        max-width: 450px;
    }
    .picture{
        width: 450px;
    }
    .product__action{
        font-size: 18px;
        padding-top: 107px;
        padding-bottom: 107px;
    }

}
@media screen and (min-width:768px) {
    .portfolio__item{
        min-width: 354px;
        max-width: 354px;
    }
    .portfolio__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .butt{
        display: flex;
        justify-content: center;
    }
    .product__action{
        padding-top: 49px;
        padding-bottom: 77px;
    }
}
@media screen and (min-width:1200px) {
    .portfolio__item{
        min-width: 370px;
        max-width: 370px;
    }
    .portfolio{
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .butt{
        margin-bottom: 48px;
    }
}
/*.inf{
    width: 231px;
    height: 21px;
    color: $nav-number;  
}
.main{
    background-color: $main-title;
}

.picture{
    width: 370px;
    height: 294px;
    flex-shrink: 0;
}
.portfolio__list{
    display: flex;
    justify-content: space-between ;
    flex-wrap: wrap;
}

.portfolio{
    padding-top: 94px;
    padding-bottom: 94px;
}*/